body {
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #1e90ff;
  height: 3.5rem;
  position: sticky;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
  margin: 0 1.5rem;
}

footer {
  background-color: #1e90ff;
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
}

.row-1,
.row-2,
.row-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.item {
    margin: 1rem;
}
